main, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: src("https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4");

  /* Full height */
  height: 50px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

